.logo{
    width: 20rem;
}

.boton{
    background-color: #1f9f70;
}

.navbar{
    background-color:  #1f9f70;
}

.navbar-toggler{
    color: #1f9f70 
}

.textonav{
    color:#061011;
    font-size: 1.3rem;
    
}

.texto:hover{
    color:#147551
}